body {
	background: #eee;
	font-family: 'Roboto', helvetica, sans-serif;
}

* {
	box-sizing: border-box;
}

.card {
	margin: 72px auto 0 auto;
	width: 280px;
	border-radius: 6px;
	border: 1px solid #e1e4e9;
	background: #fff;
	overflow: hidden;
	position: relative;
}

.card-bg {
	width: 100%;
	height: 170px;
	position: relative;
	background: #b3c5d3;
	background-image: url('http://www.fillmurray.com/352/170');
}

.flag {
	width: 92px;
	height: 32px;
	border-radius: 4px 0 0 4px;
	position: absolute;
	top: 8px;
	right: 0;
	text-align: center;
	background: white;
	line-height: 32px;
	color: #333;
	font-size: 11px;
	font-weight: bold;
	letter-spacing: 1.5px;
}

.card-avatar {
	display: flex;
	position: absolute;
	left: 24px;
	top: 140px;
}
.card-avatar img {
	border-radius: 4px;
	box-shadow: 0 2px 14px rgba(0, 0, 0, 0.06), 0 2px 4px rgba(0, 0, 0, 0.14);
	border: 2px solid #fff;
}
.card-avatar .content-meta {
	padding: 16px;
	display: flex;
	align-items: center;
	flex-wrap: wrap;
}
.card-avatar .content-meta h1 {
	font-size: 20px;
	font-weight: 400;
	color: #fff;
	text-shadow: 0 1px 2px rgba(0, 0, 0, 0.5);
}
.card-avatar .content-meta p {
	font-size: 10px;
	color: rgba(0, 0, 0, 0.7);
}

.card-content {
	width: 100%;
	padding: 56px 24px 24px 24px;
	font-size: 13px;
	font-weight: 300;
	line-height: 1.5;
	letter-spacing: 0.6px;
	text-wrap: wrap;
	text-align: left;
}
.card-content a {
	color: #333;
	font-weight: 400;
}

.card-footer {
	width: 100%;
	border-top: 1px solid #e1e4e9;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.card-footer a {
	text-align: center;
	flex: 1;
	line-height: 40px;
	text-decoration: none;
	color: #333;
	font-size: 12px;
	font-weight: 500;
}
.card-footer a:hover {
	background: #e6e6e6;
}
.card-footer .divider {
	width: 1px;
	height: 40px;
	background: #e1e4e9;
}
