<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		
		<link href="/assets/vendor/bootstrap/5.0.0/css/bootstrap.css" rel="stylesheet" />
        <link rel="stylesheet" href="./index.css" />

		<title>Web Development | Learn - Practice - Play</title>
	</head>
	<body>
        <div class="container">
            <div class="row">
                <div class="gallery col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <h1 class="gallery-title">&nbsp;</h1>
                </div>

                <div align="center">
                    <button class="btn btn-default filter-button" data-filter="all">All</button>
                    <button class="btn btn-default filter-button" data-filter="beginner">Beginner</button>
                    <button class="btn btn-default filter-button" data-filter="immediate">Immediate</button>
                    <button class="btn btn-default filter-button" data-filter="advanced">Advanced</button>
                </div>
                <br />

			###CONTENT###
			</div>
		</div>

		<script src="./assets/vendor/bootstrap/5.0.0/js/bootstrap.min.js"></script>
		<script src="./assets/vendor/jquery/3.6.0/js/jquery.js"></script>
		<script src="./index.js"></script>
	</body>
</html>
